li {
  list-style: none;
}

.octocat {
  float: left;
  width: 325px;
  height: 325px;
  border: solid lightgrey 2px;
  margin: 10px;
}
.authors {
  float: right;
  padding: 2px;
 }

ul.authors img {
  width: 25px;
  height:25px;
  border: solid lightgrey .5px;
  /*display: inline;*/
  float:right;
}

.octocat img {
  width:325px;
  height: 325px;
}

.image-number {
  font-size: 14px;
  color: lightgrey;
}
a {
  text-decoration: none;
  color: black;
}
span {
  color: lightgrey;
}
.image-footer {
  border-bottom: solid lightgrey 2px;
  height: 35px;
}
.image-caption {
  font-size: 14px;
  float: right;
  overflow: auto;
  /*display: inline;*/
}